<div class="investment-page page-wrapper">
  <section class="investidea-block">
    <div class="container">
      <nav class="breadcrumb-nav flex flex-wrap font-inter">
        <a href="javascript:void(0)" routerLink="/">Home</a>
        <span>Free Daily Investment Idea</span>
      </nav>
      <div class="investment-contentwrap contentarea block">
        <img src="assets/images/img2.png" alt="Investment Idea" />
        <h1>Free Daily Investment Idea</h1>
        <h2>{{dailyBlogDetail()?.title}}</h2>
        <span>{{dailyBlogDetail()?.createDate}}</span>
        <div
          [innerHTML]="dailyBlogSplited()[0]?dailyBlogSplited()[0]:dailyBlogDetail().message"
        ></div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="resources-box flex flex-wrap">
        <div class="resourcebx-left">
          <h2 class="font-48 fw-semibold mb-40">
            Sources for My Research Include the Following:
          </h2>
          <div class="resource-image">
            <img src="assets/images/banner/image-7.jpg" alt="My Research" />
          </div>
        </div>
        <div class="resourcebx-right flex items-center">
          <ol></ol>
        </div>
      </div>
    </div>
  </section>

  <section class="">
    <div class="container">
      <div class="infobox dark-gradient">
        <div class="block text-primary">
          <p>
            The information on the <a href="javascript:void(0)">Uvest4u.com</a
            > website and inside our platform is intended for educational
            purposes and is not to be construed as investment advice. Trading
            the financial markets carries a high level of risk and may not be
            suitable for all investors. Before trading, you should carefully
            consider your investment objectives, experience, and risk appetite.
            Only trade with money you are prepared to lose. Like any investment,
            there is a possibility that you could sustain losses of some or all
            of your investment whilst trading. You should seek independent
            advice before trading if you have any doubts. Past performance in
            the markets is not a reliable indicator of future performance.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
