@if(getBlogById$ | async){} @if(blogDetail()) {
<div class="page-wrapper">
  <div class="container">
    <article class="content-wrapper news-article block">
      <div class="pagetitle-box">
        <h1 class="font-68 mb-20">{{blogDetail().title}}</h1>
        <span class="publish-date text-lighter">
          {{ blogDetail().createDate ? (blogDetail().createDate | date : "d" |
          daySuffix) : "" }} {{ blogDetail().createDate | date : " MMM
          YYYY,hh:mm a" }}
        </span>
      </div>
      <div>
        @if(blogImage()){
        <img
          src="assets/images/blog/{{blogImage()}}"
          alt="Global Stock Market Report"
          width="1200"
          height="640"
        />
        }
      </div>
      <blockquote>
        The global stock market experienced mixed results today, with the US
        reporting solid economic growth and awaiting key indicators such as the
        Federal Reserve's decision, earnings reports, and economic data. The
        Financial Times also reported a dip in US inflation, which is seen as a
        boost for President Biden's administration.
      </blockquote>

      <div
        class="light"
        [innerHTML]="dailyBlogSplited()[0]?dailyBlogSplited()[0]:blogDetail().message"
      ></div>
    </article>
    <section class="news-sourceswrap">
      <section>
        <div class="container">
          <div class="resources-box flex flex-wrap">
            <div class="resourcebx-left">
              <h2 class="font-48 fw-semibold mb-40">
                Sources for My Research Include the Following:
              </h2>
              <div class="resource-image">
                <img src="assets/images/banner/image-7.jpg" alt="My Research" />
              </div>
            </div>
            <div class="resourcebx-right flex items-center">
              <ol></ol>
            </div>
          </div>
        </div>
      </section>
      <div class="investment-ideabanner font-inter">
        <div class="investment-ideacontent text-center">
          <h3 class="font-56 text-primary">
            Register and Receive Investment Ideas
          </h3>
          <p>Lorem ipsum dolor sit amet.</p>
          <button mat-flat-button color="primary">Register Now</button>
        </div>
      </div>
    </section>
  </div>
</div>
}
