.copyright-wrap{
  height: 102px;
  color: var(--lighterText);
  @media screen and (max-width: 767.98px) {
    height: auto;
    padding: 15px 0;
  }
}
footer{
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.12) 100%);
  ul{
    list-style: none;
    padding-left: 0;
  }
  a{
    text-decoration: none;
  }
}
.footer-blocks{
  .footer-link{
    color: var(--lighterText);
    transition: color 0.2s;
    gap: 6px;
    display: inline-flex;
    &:hover{
      color: #fff;
    }
  }
  li{
    &:not(:last-child){
      margin-bottom: 16px;
    }
  }
  ul{
    padding-left: 0;
  }
}
.footer-logowrap{
  width: 45%;
  max-width: 375px;
  @media screen and (max-width: 767.98px) {
    width: 100%;
    max-width: 100%;
  }
}
.footer-blocks{
  width: 55%;
  @media screen and (max-width: 767.98px) {
    width: 100%;
    flex-wrap: wrap;
    gap: 20px 10px;
  }
}
.link-ic {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.footer-logo{
  margin-bottom: 16px;
}
.footer-top{
  padding-top: 120px;
  // border-top: 1px solid #555177;
  position: relative;
  padding-bottom: 60px;
  &:before{
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background: radial-gradient(9099.97% 2595579.94% at 53.76% -0.04%, #A77FB3 0%, rgba(154, 108, 168, 0.6) 100%);
    position: absolute;
    top: 0;
  }
  @media screen and (max-width: 767.98px) {
    padding-top: 50px;
    padding-bottom: 30px;
  }
}
.footer-box{
  max-width: 217px;
  @media screen and (max-width: 767.98px) {
    width: calc(33% - 10px);
    max-width: 100%;
  }
  @media screen and (max-width: 519.98px) {
    width: calc(50% - 10px);
  }
}
