@use "@angular/material" as mat;
@include mat.core();
$uVest4u-primary: mat.define-palette(mat.$indigo-palette);
$uVest4u-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$uVest4u-warn: mat.define-palette(mat.$red-palette);
$uVest4u-theme: mat.define-light-theme(
  (
    color: (
      primary: $uVest4u-primary,
      accent: $uVest4u-accent,
      warn: $uVest4u-warn,
    ),
  )
);
@include mat.all-component-themes($uVest4u-theme);

@font-face {
  font-family: "Source Code Pro";
  src: url("./assets/fonts/SourceCodePro-SemiBold.woff2") format("woff2"),
    url("./assets/fonts/SourceCodePro-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("./assets/fonts/SourceCodePro-Bold.woff2") format("woff2"),
    url("./assets/fonts/SourceCodePro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("./assets/fonts/SourceCodePro-Regular.woff2") format("woff2"),
    url("./assets/fonts/SourceCodePro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

$appBG: #0e0c15;
$containerWidth: 1230px;
$white: #fff;
$newutral08: #0e0c15;
$bodyColor: #c0bbd7;
$black: #000;

body {
  --font60: 60px;
  --font56: 56px;
  --font48: 48px;
  --font32: 32px;
  --font20: 20px;
  --font24: 24px;
  --font28: 28px;
  --font16: 16px;
  --font14: 14px;
  --font18: 18px;
  --font12: 12px;
  --spacing16: 16px;
  --spacing20: 20px;
  --spacing24: 24px;
  --spacing32: 32px;
  --spacing40: 40px;
  --spacing50: 50px;
  --spacing80: 80px;
  --spacing70: 70px;
  --spacing90: 90px;
  --spacing100: 100px;
  --orange: #ff776f;
  --lighterText: #9a98b9;
  --gradient: linear-gradient(180deg, #101544 0%, rgba(20, 5, 39, 0.15) 100%);
  --conicGradient: conic-gradient(
    from 180deg at 50% 50%,
    #ff89c2 -31.2deg,
    #ffc876 35.77deg,
    #acff8e 189.4deg,
    #9453ff 266.25deg,
    #ff89c2 328.8deg,
    #ffc876 395.77deg
  );
  @media screen and (max-width: 1199.98px) {
    --spacing100: 60px;
    --font60: 46px;
    --font56: 42px;
    --font20: 16px;
    --spacing24: 15px;
    --spacing32: 20px;
    --font48: 32px;
    --font32: 28px;
    --font16: 14px;
    --font28: 22px;
    --font24: 20px;
    --spacing20: 10px;
    --spacing16: 12px;
    --spacing40: 30px;
    --spacing50: 35px;
    --spacing90: 50px;
    --spacing70: 40px;
    --spacing80: var(--spacing70);
  }
  @media screen and (max-width: 767.98px) {
    --font60: 32px;
    --font56: 30px;
    --font20: 14px;
    --font24: 16px;
    --font48: 28px;
    --font32: 22px;
    --spacing40: 20px;
    --spacing50: 30px;
    --spacing100: 40px;
  }

  margin: 0;
  font-family: "Sora", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $appBG;
  color: $bodyColor;
  font-size: var(--font16);
}
$sizes: (
  60: var(--font60),
  48: var(--font48),
  18: var(--font18),
  16: var(--font16),
  28: var(--font28),
  20: var(--font20),
  24: var(--font24),
  32: var(--font32),
);
@each $size, $value in $sizes {
  .font-#{$size} {
    font-size: $value;
  }
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
html,
body {
  min-height: 100%;
}
a {
  text-decoration: underline;
  color: #ac6aff;
}
::selection {
  color: #fff !important;
  background: #ac6aff;
  -webkit-text-fill-color: #fff !important;
}
.list-none {
  list-style: none;
  padding-left: 0;
}
ul,
ol {
  list-style-position: outside;
  padding-left: 28px;
  // padding-left: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}
h1,
.h1 {
  font-size: var(--font48);
  line-height: 1.2;
  @extend .text-primary;
  // display: inline-block;
}
h2,
.h2 {
  font-size: var(--font32);
  line-height: 1.2;
  @extend .text-primary;
}
h3,
.h3 {
  font-size: var(--font24);
}
img {
  width: auto;
  height: auto;
  max-width: 100%;
}
.font-secondary {
  font-family: "Sora", sans-serif;
}
.font-inter {
  font-family: "Inter", sans-serif;
}
.mb-24 {
  margin-bottom: var(--spacing24);
}
.mb-20 {
  margin-bottom: var(--spacing20);
}
.mb-50 {
  margin-bottom: var(--spacing50);
}
.mb-70 {
  margin-bottom: var(--spacing70) !important;
}
.mb-0 {
  margin-bottom: 0;
}
p {
  margin: 0 0 10px;
  line-height: 1.56;
}
.fw-normal {
  font-weight: normal;
}
.fw-light {
  font-weight: 300;
}
.fw-medium {
  font-weight: 500;
}
.btn-link {
  color: #fff;
}
.block {
  > *:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
.d-inline-block {
  display: inline-block;
}
.text-white {
  color: #fff;
}
.text-lighter {
  color: var(--lighterText);
}
.text-danger {
  color: #ff3e46;
}
.text-success {
  color: #23e33e;
}
.fw-semibold {
  font-weight: 600;
}
.dark-gradient {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.12) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
/* Starts General Css */
.container {
  max-width: $containerWidth;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  width: 100%;
}
.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.flex-wrap {
  flex-wrap: wrap;
}

/* Starts Align Classes */
.text-center {
  text-align: center;
}

/* Starts Css for header */
.menu-open {
  overflow: hidden;
  .navigation-menu {
    transform: translateX(0) !important;
  }
}
.overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  background: rgb(18 18 18 / 90%);
  display: none;
  body.menu-open & {
    display: block;
  }
}

/* Starts Css for Buttons */
.mdc-button--unelevated.mat-primary {
  border-radius: 8px;
  overflow: hidden;
  text-decoration: none;
  &.mat-mdc-unelevated-button {
    height: 44px;
    font-weight: bold;
    padding: 0;
    letter-spacing: 0.035em;
    display: inline-flex;
    align-items: stretch;
    &:not(:disabled) {
      color: $newutral08;
      background-color: transparent;
    }
  }
  &::before,
  &:after {
    content: "";
    width: 27px;
    height: auto;
    display: block;
  }
  &::before {
    background-color: #fff;
  }
  &:after {
    background: url("./assets/images/right-pattern.svg") no-repeat top;
    background-size: cover;
    margin-left: -1px;
  }
  .mdc-button__label {
    background-color: $white;
    padding: 12px 0;
    font-size: var(--font12);
    text-transform: uppercase;
    font-family: "Source Code Pro";
    font-weight: 700;
    @extend .flex;
    @extend .items-center;
  }
}
.mdc-button--outlined.mdc-button {
  border: 0;
  padding: 0;
  display: inline-flex;
  align-items: stretch;
  height: 44px;
  .mdc-button__label {
    padding: 10px 20px;
    font-family: "Source Code Pro";
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.035em;
    font-size: 12px;
    display: flex;
    align-items: center;
    &::before {
      content: "";
      display: block;
      position: absolute;
      right: 0px;
      background: $appBG url("./assets/images/shape.svg") no-repeat;
      height: 100%;
      width: 22px;
      top: 0;
      z-index: -1;
      background-size: 21px 44px;
      .secondary-btn & {
        background-color: #26272b;
      }
    }
  }
  &::before,
  &:after {
    content: "";
    width: 100%;
    position: absolute;
    height: auto;
    display: block;
  }
  &:after {
    background: $appBG;
    position: absolute;
    left: 2px;
    right: 2px;
    bottom: 2px;
    top: 2.5px;
    width: auto;
    border-radius: 4px 0 0 4px;
    .secondary-btn & {
      background-color: #26272b;
    }
  }
  &:before {
    content: "";
    width: calc(100% - 17px);
    position: absolute;
    left: 0px;
    background: var(--conicGradient);
    top: 0px;
    bottom: 0px;
    right: 0px;
    border-radius: 4px 0 0 4px;
  }
}

/* Starts Css for Colors */
.text-primary {
  background: linear-gradient(
    271.75deg,
    #635371 -14.22%,
    #ededf2 50.45%,
    #635371 116.9%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  a {
    -webkit-text-fill-color: #ac6aff;
    background-clip: inherit;
  }
}
.text-orange {
  color: var(--orange);
}

/* Starts Css for Gradient Box */

.gradient-bx {
  position: relative;
  * {
    position: relative;
    z-index: 1;
  }
  &:before {
    background: $appBG url("./assets/images/box-gradient.svg") no-repeat;
    position: absolute;
    left: 0;
    right: 0;
    height: 150px;
    height: 90px;
    top: 0;
    pointer-events: none;
    content: "";
    background-size: cover;
    z-index: 1;
    @media screen and (min-width: 768px) and (max-width: 1199.98px) {
      background-image: url("./assets/images/gradient-mobile.svg");
      height: 90px;
    }
    @media screen and (max-width: 520px) {
      background-image: url("./assets/images/gradient-mobile.svg");
      height: 90px;
    }
  }
  &::after {
    content: "";
    display: block;
    top: 0;
    border: 2px solid rgba(255, 255, 255, 0.15);
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    border-radius: 30px;
    @media screen and (min-width: 768px) and (max-width: 1199.98px) {
      border-width: 3px;
    }
  }
}
/* Ends Css for Gradient Box */

.w-50 {
  width: 50%;
  @media screen and (max-width: 767.98px) {
    width: 100%;
  }
}
.maxw-448 {
  max-width: 448px;
}
.ml-auto {
  margin-left: auto;
}

/* Starts Css for Info Box */
.infobox {
  border-radius: 24px;
  // max-width: 1067px;
  // padding: 50px 30px;
  padding: 30px;
  margin: auto;
  gap: 100px;
  @media screen and (max-width: 767.98px) {
    padding: 20px 15px;
    flex-wrap: wrap;
    gap: 20px;
  }
  button {
    flex-shrink: 0;
  }
}
.social-sharing {
  margin-top: 48px;
  @media screen and (max-width: 767.98px) {
    margin-top: 28px;
    margin-bottom: 30px;
  }
  ul {
    gap: 12px;
    @media screen and (max-width: 767.98px) {
      justify-content: center;
    }
  }
  .mat-mdc-icon-button {
    width: 34px;
    height: 34px;
    padding: 9px;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    position: relative;
    svg {
      width: 100%;
      height: 17px;
    }
    .mdc-button__ripple {
      background-color: $appBG;
    }
    &::before {
      content: "";
      display: block;
      left: -1px;
      right: -1px;
      top: -1px;
      bottom: -1px;
      position: absolute;
      background: linear-gradient(
          180deg,
          #a77fb3 0%,
          rgba(154, 108, 168, 0.4) 100%
        ),
        linear-gradient(
          180deg,
          rgba(255, 255, 255, 0.12) 0%,
          rgba(255, 255, 255, 0) 100%
        );
      border-radius: 50%;
    }
    &::after {
      content: "";
      display: block;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      position: absolute;
      @extend .dark-gradient;
      border-radius: 50px;
    }
    .mdc-button__label {
      display: inline-flex;
    }
  }
}

.contentarea {
  h1,
  h2 {
    font-weight: 600;
    margin-bottom: var(--spacing24);
  }
  span {
    display: block;
    @extend .text-lighter;
    margin-bottom: var(--spacing24);
    @extend .fw-light;
  }
  p {
    margin-bottom: var(--spacing16);
  }
}

.contact-ic {
  width: 48px;
  height: 48px;
  border: 1px solid #4d4d4d;
  border-radius: 12px;
  flex-shrink: 0;
  @media screen and (max-width: 767.98px) {
    width: 38px;
    height: 38px;
    padding: 10px;
    border-radius: 8px;
  }
}
.contact-field {
  gap: 15px;
  > div {
    align-self: center;
  }
  &:not(:last-child) {
    margin-bottom: 30px;
    @media screen and (max-width: 767.98px) {
      margin-bottom: 10px;
    }
  }
}
.contactus-section {
  padding: var(--spacing70) 0 48px;
  margin-top: var(--spacing70);
}
/* Starts css for Dynamic Content */
.mt-70 {
  margin-top: var(--spacing70);
}
.page-wrapper {
  padding: var(--spacing100) 0 var(--spacing70);
}
.content-wrapper {
  img {
    border-radius: 24px;
  }
  h1,
  h3 {
    font-weight: 600;
  }
  .withimage {
    position: relative;
    padding-left: 38px;
    &::before {
      content: "";
      display: block;
      width: 20px;
      height: 16px;
      background: url("./assets/images/icons/analysis-2.svg") no-repeat;
      flex-shrink: 0;
      position: absolute;
      left: 0;
      top: 4px;
    }
  }
  h2 {
    font-weight: 600;
    background: none;
    color: #c0bbd7;
    -webkit-text-fill-color: #c0bbd7;
  }

  & > * {
    margin-bottom: var(--spacing24);
  }
}
/* Ends css for Dynamic Content */
%radiolabel {
  color: #667085;
  padding-left: 12px !important;
}
%outercircle {
  border: 1px solid #4f46e5 !important;
}
.gap-20 {
  gap: var(--spacing20);
}
.mat-mdc-radio-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  .mat-mdc-radio-button {
    display: block;
  }
  .mdc-radio__outer-circle {
    @extend %outercircle;
  }
  // &.filled-radio{
  //   .mat-mdc-radio-checked{
  //     .mdc-radio__outer-circle{
  //       background-color: $white !important;
  //     }
  //   }
  // }
  .mdc-radio
    .mdc-radio__native-control:enabled
    + .mdc-radio__background
    .mdc-radio__inner-circle {
    border-color: #4f46e5 !important;
  }
  .mdc-radio {
    padding: 0 !important;
  }
  .mat-mdc-radio-checked .mdc-radio__background::before {
    display: none;
  }
  label {
    @extend %radiolabel;
  }
}
.flex-column {
  flex-direction: column;
}
.mat-mdc-checkbox {
  display: flex;
  .mdc-checkbox {
    padding: 0 !important;
    flex-shrink: 0 !important;
    margin-right: 12px;
  }
  .mdc-checkbox__ripple {
    display: none !important;
  }
  .mdc-checkbox__background {
    border-radius: 50%;
    border: 1px solid #667085 !important;
    top: 0 !important;
  }
  &.mat-mdc-checkbox-checked {
    svg.mdc-checkbox__checkmark {
      display: none !important;
    }
    .mdc-checkbox__background {
      position: relative;
      background-color: $white !important;
      &::after {
        content: "";
        display: block;
        width: 8px;
        background: #4f46e5;
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        height: 8px;
      }
    }
  }
  .mdc-label {
    @extend %radiolabel;
  }
}
// Pricing
.gradient-overlay {
  display: block;
  position: absolute;
  left: auto;
  width: 242px;
  height: 242px;
  right: 20px;
  top: 50%;
  bottom: 0;
  background: #907cff;
  filter: blur(102px);
  // mix-blend-mode: color-dodge;
  mix-blend-mode: hard-light;
  opacity: 0.4;
  filter: blur(70px);
  border-radius: 200px;
  transform: translateY(-50%);
  z-index: 1;
  pointer-events: none;
}

// Starts Css for How Works page */
.slick-track {
  @extend .flex;
}
.slick-current {
  @media screen and (min-width: 992px) {
    & + .slick-slide {
      .work-box {
        .image-overlay {
          opacity: 0.2;
        }
      }
      &::before {
        opacity: 1;
      }
    }
  }
  @media screen and (max-width: 991.98px) {
    .work-box {
      .image-overlay {
        opacity: 0.2;
      }
    }
    &::before {
      opacity: 1 !important;
    }
  }
}
.slick-slide {
  margin: 0 12px;
  outline: none;
  height: auto;
  position: relative;
  .image-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url("./assets/images/works-bg.png") no-repeat;
    opacity: 0;
    transition: opacity 2s;
  }
  &:before {
    width: 52px;
    height: 52px;
    content: "";
    display: block;
    background: url("./assets/images/icons/corner-shape.svg") no-repeat center;
    opacity: 0;
    border-radius: 12px;
    position: absolute;
    z-index: 1;
    right: 1px;
    top: 0;
    transition: opacity 2s;
    @media screen and (max-width: 575.98px) {
      right: -4px;
    }
  }
  &:nth-child(5n + 1) {
    .work-box {
      &::before {
        filter: invert(19%) sepia(126%) saturate(2254%) hue-rotate(110deg)
          brightness(1622%) contrast(81%);
        height: 190px;
      }
      &::after {
        top: 190px;
      }
    }
    .workbx-ic {
      background: #ac6aff;
    }
  }
  &:nth-child(5n + 2) {
    .work-box {
      &::before {
        height: 190px;
      }
      &::after {
        top: 190px;
      }
    }
    .workbx-ic {
      background: #febe4f;
    }
  }
  &:nth-child(5n + 3) {
    .work-box {
      &::before {
        filter: invert(100%) sepia(168%) saturate(2893%) hue-rotate(650deg)
          brightness(112%) contrast(45%);
      }
    }
    .workbx-ic {
      background: #7adb78;
    }
  }
  &:nth-child(5n + 4) {
    .work-box {
      &::before {
        filter: invert(40%) sepia(14%) saturate(2703%) hue-rotate(800deg)
          brightness(152%) contrast(42%);
      }
    }
    .workbx-ic {
      background: #ff776f;
    }
  }
  &:nth-child(5n + 5) {
    .work-box {
      &::before {
        filter: invert(130%) sepia(107%) saturate(2943%) hue-rotate(760deg)
          brightness(142%) contrast(112%);
      }
    }
    .workbx-ic {
      background: #6fdaff;
    }
  }
}
.slick-dots {
  bottom: -70px;
  li {
    width: 24px;
    height: 24px;
    margin: 0 8px;
    padding: 1px;
    border-radius: 50%;
    &.slick-active {
      background: conic-gradient(
        from 180deg at 50% 50%,
        #ff98e2 0deg,
        #ffc876 35.77deg,
        #79fff7 153.75deg,
        #9f53ff 258.75deg,
        #ff98e2 360deg
      );
    }
    button {
      width: 100%;
      height: 100%;
      background: $appBG;
      border-radius: 50%;

      &::before {
        width: 100%;
        height: 100%;
        color: #fff !important;
        opacity: 1 !important;
        display: inline-flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

/* STarts Css for Modal */
.modal-backdrop {
  background-color: rgba($color: $black, $alpha: 0.75);
}
.modal-wrapper {
  max-width: calc(100vw - 20px) !important;
  .mat-mdc-dialog-component-host {
    display: block;
  }
  .mat-mdc-dialog-container {
    background: $appBG var(--conicGradient);
    padding: 1px;
    border-radius: 16px;
    .mdc-dialog__container {
      background-color: $appBG;
      border-radius: inherit;
    }
    .mdc-dialog__surface {
      background: var(--gradient);
      max-height: calc(100vh - 100px);
      border-radius: 16px;
      padding: var(--spacing70) var(--spacing90) var(--spacing50);
      position: relative;
      @media screen and (max-width: 767.98px) {
        --spacing90: 20px;
      }
    }
  }
}
.btn-wrapper {
  gap: 30px;
}
/* Ends Css for Modal */
/* Starts Css for Form Control */
.form-control {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.12) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border: 1px solid #3a3737;
  border-radius: 8px;
  min-height: 56px;
  box-shadow: none;
  outline: 0;
  padding: 14px;
  width: 100%;
  color: $white;
  font-size: 16px;
  font-family: "Sora", sans-serif;
  resize: none;
  transition: border 0.2s ease;
  &:focus {
    border-color: rgba($white, 0.5);
  }
  @media screen and (max-width: 1199.98px) {
    min-height: 42px;
    padding: 8px 14px;
  }
}
.form-label {
  display: block;
  font-weight: 600;
  color: #58565e;
  margin-bottom: 12px;
  @media screen and (max-width: 1199.98px) {
    margin-bottom: 5px;
  }
}
.form-group {
  margin-bottom: 30px;
  @media screen and (max-width: 1199.98px) {
    margin-bottom: 20px;
  }
}
/* Ends Css for Form Control */
.validation_msg {
  color: red;
  font-size: 13px;
  margin-top: 5px;
}
.logo {
  max-height: 37px;
  max-width: 125px;
  width: 100%;
}
mat-progress-spinner {
  position: relative !important;
  // top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  backdrop-filter: blur(2px);
}
.mat-mdc-button-disabled {
  pointer-events: stroke !important;
  cursor: not-allowed !important;
}
.breadcrumb-nav {
  gap: 32px;
  margin-bottom: 40px;
  a {
    position: relative;
    color: #ededf2;
    text-decoration: none;
    &::after {
      content: "/";
      display: block;
      position: absolute;
      color: var(--lighterText);
      font-weight: 700;
      line-height: 1;
      right: -18px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  span{
    text-transform: capitalize !important;
  }
}
.align-items-start {
  align-items: flex-start;
} 
mat-progress-spinner {
  @media screen and (max-width:767.98px) {
    width: 20% !important;    
  }
}